* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #eee;
  height: auto;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
}

img {
  display: block;
  width: 100%;
}

main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0 40px rgba(0, 0, 0, 0.2), -30px 0 40px rgba(0, 0, 0, 0.2) ;
}

#landing {
  background: #fff;
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

#landing-text h2 {
  color: #888;
}

#landing-image {
  background: url(https://images.pexels.com/photos/1203803/pexels-photo-1203803.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vh;
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px solid #ccc;
  display: inline-block;
  margin-top: 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  transition: background 500ms ease;
}

.btn:hover {
  background: #f4f4f4;
}

#header {
  padding: 1.5rem;
  text-align: center;
  background: #333;
  color: #fff;
}

#header h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

.caption {
  padding: 0.5rem;
  text-align: center;
}

.caption h3 {
  font-size: 1.3rem;
}

.caption p {
  font-size: .7rem;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
}

footer h3 {
  font-size: 2rem;
}

}

/* Screen Sizes 550px and up */
@media (min-width: 550px) {
  #landing {
    display: flex;
    height: 100%;
  }

  #landing-text {
    height: 100vh;
  }

  #landing-image {
    height: 100vh;
  }

  .caption h3 {
    font-size: 1.7rem;
  }
  
  .caption p {
    font-size: 1rem;
  }

}

/* Screen Sizes 700px and up */
@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }

  .caption h3 {
    font-size: 2rem;
  }
  
  .caption p {
    font-size: 1.5rem;
  }

}





